<!DOCTYPE html>
<html lang="en">
<style>

</style>

<head>
    <meta charset="UTF-8">
    <title>Grupos por alumno</title>
    <link rel="stylesheet" href="/static/spectre.min.css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css">
</head>

<body>
    <div class="container">
        <small><a href="/">Volver al inicio</a></small>
        <h1>Grupos por alumno</h1>

        <div id="pertenece-list">
            <h2>Lista de grupos a los que est&aacute; inscrito un alumno</h2>
            <table class="table">
                {% if result %}
                <tr>
                    <th>Matr&iacute;cula</th>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th>Curso</th>
                    <th>Grupo</th>
                    <th>Semestre</th>
                    <th>A&ntilde;o</th>
                    <th class="delete-selector" style="display: none;">Eliminar</th>
                </tr>
                {% for row in result %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td class="delete-selector" style="display: none;">
                        <div class="form-group">
                            <input class="delete-check" type="checkbox"
                                value="{{ row[0] }} {{ row[2] }} {{ row[5] }} {{ row[6] }}">
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>

        <div id="del-btns" style="display: none;">
            <button class="btn btn-error" id="delete-confirm">Eliminar</button>
            <button class="btn btn-primary" id="cancel-delete">Cancelar</button>
        </div>

        <div id="default-btns">
            <button class="btn btn-success" id="insert-btn">Insertar</button>
            <button class="btn btn-error" id="delete-btn">Eliminar</button>
        </div>

        <div id="insert-new" style="display: none;">
            <h2>Inscribir alumno a grupo</h2>
            <form action="{{ url_for('grupos_alumno')}}" method="post" class="form">
                <div class="form-group">
                    <label class="form-label" for="matricula">Matr&iacute;cula:</label>
                    <input class="form-input" type="text" name="matricula" id="matricula">
                </div>
                <div class="form-group">
                    <label class="form-label" for="curso">Clave del curso:</label>
                    <input class="form-input" type="text" name="curso" id="curso">
                </div>
                <div class="form-group">
                    <label class="form-label" for="grupo">Grupo:</label>
                    <input class="form-input" type="number" name="grupo" id="grupo" min="1" max="100">
                </div>
                <div class="form-group">
                    <label class="form-label">Semestre:</label>
                    <label class="form-radio form-inline">
                        <input type="radio" name="semestre" checked="" value="EM"><i class="form-icon"></i>
                        Enero&mdash;Mayo
                    </label>
                    <label class="form-radio form-inline">
                        <input type="radio" name="semestre" value="AD"><i class="form-icon"></i> Agosto&mdash;Diciembre
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-label" for="year">A&ntilde;o:</label>
                    <input class="form-input" type="number" name="year" id="year" min="1943" max="2019">
                </div>
                <button class="btn btn-success" type="submit">Insertar</button>
                <button id="cancel-insert" class="btn btn-error">Cancelar</button>
            </form>
        </div>
        <script>
            const CANCEL_DELETE = document.querySelector('#cancel-delete');
            const CANCEL_INSERT = document.querySelector('#cancel-insert');
            const DEFAULT_BTNS = document.querySelector('#default-btns');
            const DEL_BTNS = document.querySelector('#del-btns');
            const DELETE_BTN = document.querySelector('#delete-btn');
            const DELETE_CHECK = document.querySelectorAll('.delete-check');
            const DELETE_CONFIRM = document.querySelector('#delete-confirm')
            const DELETE_SELECTOR = document.querySelectorAll('.delete-selector');
            const PERTENECE_LIST = document.querySelector('#pertenece-list');
            const INSERT_BTN = document.querySelector('#insert-btn');
            const INSERT_NEW = document.querySelector('#insert-new');

            CANCEL_DELETE.addEventListener('click', event => {
                DELETE_SELECTOR.forEach(cell => {
                    cell.style.display = 'none';
                    DEFAULT_BTNS.style.display = '';
                    DEL_BTNS.style.display = 'none';
                });
            });

            CANCEL_INSERT.addEventListener('click', event => {
                DEFAULT_BTNS.style.display = '';
                PERTENECE_LIST.style.display = '';
                INSERT_NEW.style.display = 'none';
            });

            DELETE_BTN.addEventListener('click', event => {
                DELETE_SELECTOR.forEach(cell => {
                    cell.style.display = '';
                    DEFAULT_BTNS.style.display = 'none';
                    DEL_BTNS.style.display = '';
                });
            });

            DELETE_CONFIRM.addEventListener('click', event => {
                let checks = [];
                DELETE_CHECK.forEach(check => {
                    if (check.checked) {
                        let tokens = check.value.split(' ');
                        checks.push(tokens);
                    }
                });

                fetch('/del_grupos_alumno', {
                    method: 'POST',
                    body: JSON.stringify(checks)
                }).then(response => {
                    location.reload();
                })
            })

            INSERT_BTN.addEventListener('click', event => {
                DEFAULT_BTNS.style.display = 'none';
                PERTENECE_LIST.style.display = 'none';
                INSERT_NEW.style.display = '';
            });

        </script>
</body>

</html>