<!DOCTYPE html>
<html>

<head>
    <title>Base de Datos | Tecnol&oacute;gico de Monterrey</title>
    <link rel="stylesheet" href="/static/spectre.min.css">
</head>

<body>
    <div class="container">
        <h1>Base de Datos del Tecnol&oacute;gico de Monterrey</h1>
        <ul>
            <li><a href="{{ url_for('alumnos') }}">Alumnos</a></li>
            <li><a href="{{ url_for('cursos') }}">Cursos</a></li>
            <li><a href="{{ url_for('departamentos') }}">Departamentos</a></li>
            <li><a href="{{ url_for('grupos') }}">Grupos</a></li>
            <li><a href="{{ url_for('profesores') }}">Profesores</a></li>
            <li><a href="{{ url_for('ecoas') }}">Resultados de Ecoas</a></li>
            <li><a href="{{ url_for('cursos_impartidos') }}">Cursos impartidos por profesor</a></li>
            <li><a href="{{ url_for('grupos_alumno') }}">Grupos a los que est&aacute; inscrito un alumo</a></li>
            <li><a href="{{ url_for('cursos_cursados') }}">Cursos cursados por estudiante</a></li>
            <li><a href="{{ url_for('libre') }}">Horas libres por profesor</a></li>
        </ul>
    </div>

</body>

</html>