<!DOCTYPE html>
<html lang="en">
<style>

</style>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Members</title>
</head>

<body>
    <small><a href="/">Volver al inicio</a></small>
    <h1>Members</h1>
    <div>
        <form method="POST" action="{{ url_for('members') }}">
            <div>
                <label for="fName">First Name:</label>
                <input type="text" id="fName" name="fName">
            </div>
            <div>
                <label for="lName">Last Name:</label>
                <input type="text" id="lName" name="lName">
            </div>
            <div>
                <label class="radio">
                    <input type="radio" name="sex" value="F">
                    F
                </label>
                <label class="radio">
                    <input type="radio" name="sex" value="M">
                    M
                </label>
            </div>
            <div>
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob">
            </div>
            <div>
                <label for="address">Address:</label>
                <input type="text" id="address" name="address">
            </div>
            <input type="submit" value="Insert">
        </form>
    </div>

    <hr>
    <h2>Search member</h2>
    <div class="inputs">
        <form method="GET" action="{{ url_for('members') }}">
            <label for="memberNo">No:</label>
            <input type="text" id="memberNo" name="memberNo">
            <label for="memberName">Name:</label>
            <input type="text" id="memberName" name="memberName">
            <input type="submit" value="Submit">
        </form>
    </div>
    <table id="members" style="width:100%">
        {% if result %}
        <tr>
            <th>MemberNo</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>sex</th>
            <th>Address</th>
            <th>Date Joined</th>
        </tr>
        {% for row in result %}
        <tr>
            <td> {{ row.memberNo }}</td>
            <td> {{ row.fName }}</td>
            <td> {{ row.lName }}</td>
            <td> {{ row.sex }}</td>
            <td> {{ row.address }}</td>
            <td> {{ row.dateJoined }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    <hr>

    <h2>delete member</h2>
    <form method="POST" action="{{ url_for('del_members') }}">
        <div>
            <label for="memberNo">Member No:</label>
            <input type="text" id="memberNo" name="memberNo">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>