<!DOCTYPE html>
<html lang="en">
<style>

</style>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Members</title>
</head>
<body>
<table id="top_and_bottom" style="width:100%">
    {% if result %}
    <tr>
        <th>Nombre</th>
        <th>Posicion</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row.Nombre }}</td>
        <td> {{ row.Posicion }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>